body {
    font: normal 15pt Arial;
}

.gradient {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(23, 48, 82), rgb(0, 0, 0));
    background-size: 300%;
    animation: colors 7s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 100% 50%;
    }
}

header {
    text-align: center;
    color: white;
}

main {
    background: white;
    border-radius: 10px;
    padding: 10px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(251, 251, 251, 0.705);
}

footer {
    text-align: center;
    color: white;
}

input {
    border: solid 2px;
}